<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587678856071-cd45gc2v591glv3hoctt9bu0etf2u2d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587678856071-cd45gc2v591glv3hoctt9bu0etf2u2d6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>587678856071-mth3vepd88i97t7uek79dupgh1j2g8i7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4S-JK_gY73LL6r4elhrRT8oCsjy9VIus</string>
	<key>GCM_SENDER_ID</key>
	<string>587678856071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baakhapaa.com</string>
	<key>PROJECT_ID</key>
	<string>baakhapaa-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>baakhapaa-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587678856071:ios:2b71313834447e67c85922</string>
</dict>
</plist>