<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587678856071-hiksj30dutr0crvbrp7j8phvpu6ojcs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587678856071-hiksj30dutr0crvbrp7j8phvpu6ojcs1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>587678856071-4uf75rt9k86eo0je8fv43tl5rhn7afn3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4S-JK_gY73LL6r4elhrRT8oCsjy9VIus</string>
	<key>GCM_SENDER_ID</key>
	<string>587678856071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baakhapaa.student</string>
	<key>PROJECT_ID</key>
	<string>baakhapaa-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>baakhapaa-flutter.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587678856071:ios:47ac7ead3dc9b333c85922</string>
</dict>
</plist>